    /* Navbar-container */

.nav-container{
    width: 100%;
    background-color: #131921;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

    /* Amazone-Logo with text */

.image {
    width: 9%; /* Adjust the image size */
}